/*
Theme Name: Digicrew-Lite
Author: weblizar
Author URI: http://weblizar.com/
Description: Child Theme of Digicrew theme, multipurpose WordPress blog theme.
Version: 1.0
Tested up to: 5.8
Requires PHP: 5.6
Template: digicrew
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: digicrew-lite
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments , custom-header , footer-widgets , sticky-post , right-sidebar , 
two-columns
*/

/* This is the child theme for Digicrew theme. */

.footer-bg, .banner-bg {
    background-color: #560072;
}
a.read-btn {
    text-decoration: none;
    padding: 6px;
    background: #ff521f;
    color: #fff;
}
.blog-box .wapper-img img {
    border-top-right-radius: 0;
}
.blog-content {
    text-align: center;
}
.blog-box .blog-content .blog-meta li>a:hover, .blog-box .blog-content .blog-meta li>a:focus {
    text-decoration: none;
}
.blog-box .blog-content .read-btn:hover, .blog-box .blog-content h3>a:hover, .blog-box .blog-content .read-btn:focus, .blog-box .blog-content h3>a:focus {
    text-decoration: none;
}
.blog-data p a {
    text-decoration: underline;
}
.right-comment-content p a {
    text-decoration: underline;
}
.post {
    box-shadow: 2px 5px 20px rgb(0 0 0 / 14%);
    padding: 20px;
    margin: 0 0 30px;
}
.blog-content h3 a {
    font-weight: 600;
    font-size: 30px;
}
.blog-box .blog-content h3 {
    font-weight: 600;
    font-size: 30px;
}
.comment-form .btn:hover, .comment-form .btn:focus {
    color: #fff;
}
.breadcrumb-item.active {
    color: #ffffff;
}
.breadcrumb-item + .breadcrumb-item::before {
    color: #ffffff;
}

/* social */
.social-network {
    float: right;
}
.social-network a i {
    color: #fff;
}
/* 
* orange theme color 
*/

.tagcloud a:hover, 
.wp-block-tag-cloud a:hover, 
.tagcloud a:focus, 
.wp-block-tag-cloud a:focus {
    background: #ff3b00e0;
}
.pagination .page-numbers.current,
.pagination .post-page-numbers.current{
    background: #ff3b00e0;
}

.contact-form .btn-1:hover, 
.faq-form .btn-1:hover,
.contact-form .btn-1:focus, 
.faq-form .btn-1:focus {
    background: #ff3b00e0;
}

.comment-form .btn:hover,
.comment-form .btn:focus {
    background: #ff3b00e0;
}

.comment-form .btn {
    border: 2px solid #ff3b00e0;
    padding: 8px 50px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-radius: 35px;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}

.comment-box img {
    border: 3px solid #ff3b00e0;
    box-shadow: 0px 3px 21px 0px rgba(67, 57, 169, 0.2);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.comment-box .right-comment-content>a:hover,
.comment-box .right-comment-content>a:focus {
    color: #ff3b00e0;
}

.share-icon li:hover,
.share-icon li:focus {
    color: #ff3b00e0;
}

.tags-btn a:hover,
.tags-btn a:focus {
    background: #ff3b00e0;
}

.recent-post .post-right h5:hover,
.recent-post .post-right h5:focus {
    color: #ff3b00e0;
}

.gallery-filter-btn button:hover,
.gallery-filter-btn button:focus, .gallery-filter-btn button.active {
    border-color: #ff3b00e0;
}

.pagination li .page-link.active {
    background: #ff3b00e0;
}

.pagination li i:hover, 
.pagination li i:focus {
    background: #ff3b00e0;
}
.pagination li i {
    border: 2px solid #ff3b00e0;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    font-size: 16px;
    line-height: 28px;
    margin: 0 7px;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}

/*.breadcrumb-item.active {
    color: #ff3b00e0;
}*/

.copyright-area .copyright-nav li a:hover, 
.footer-info p>a:hover, 
.footer-info .social-icon li>a:hover, 
.footer-box .footer-list li>a:hover,
.copyright-area .copyright-nav li a:focus, 
.footer-info p>a:focus, 
.footer-info .social-icon li>a:focus, 
.footer-box .footer-list li>a:focus {
    color: #ff3b00e0;
}

.search-box .btn-search {
    position: absolute;
    top: 4px;
    right: 4px;
    background: #ff3b00e0;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    border: transparent;
}

.blog-box .blog-content .blog-meta li>a:hover,
.blog-box .blog-content .blog-meta li>a:focus {
    color: #ff3b00e0;
}

.blog-box .blog-content .read-btn:hover, .blog-box .blog-content h3>a:hover,
.blog-box .blog-content .read-btn:focus, .blog-box .blog-content h3>a:focus {
    color: #ff3b00e0;
}

.slicknav_nav .slicknav_row:hover, .slicknav_nav a:hover, .slicknav_nav .slicknav_row:focus, .slicknav_nav a:focus {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 0;
	background: transparent;
	color: #ff3b00e0;
}
	
.log-btn a:hover,
.log-btn a:focus {
    background-color: #ff3b00e0;
    color: #212121;
}

.log-btn a {
    border: 2px solid #ff3b00e0;
    padding: 4px 40px;
    border-radius: 30px;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}

.navbar-light .navbar-nav .menu-item .sub-menu a:hover,
.navbar-light .navbar-nav .menu-item .sub-menu a:focus {
    color: #ff3b00e0;
}

.navbar-light .navbar-nav .menu-item a:hover,
.navbar-light .navbar-nav .menu-item a:focus, 
 .navbar-light .navbar-nav .current-menu-item a {
    color: #ff3b00e0;
}

#btn-to-top {
    display: inline-block;
    background-color: #ff3b00e0;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 12px;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}

.btn-1:hover, 
.btn-1:focus {
    background-color: #ff3b00e0;
    color: #212121;
}

.btn-1 {
    border: 2px solid #ff3b00e0;
    padding: 9px 45px;
    display: inline-block;
    letter-spacing: 0.5px;
    border-radius: 30px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}

.tagcloud a:hover, 
.wp-block-tag-cloud a:hover, 
.tagcloud a:focus, 
.wp-block-tag-cloud a:focus {
    background: #ff3b00e0;
}

.pagination .page-numbers.current,
.pagination .post-page-numbers.current{
    background: #ff3b00e0;
}

.contact-form .btn-1:hover, 
.faq-form .btn-1:hover,
.contact-form .btn-1:focus, 
.faq-form .btn-1:focus {
    background: #ff3b00e0;
}

.comment-form .btn:hover,
.comment-form .btn:focus {
    background: #ff3b00e0;
}

.comment-form .btn {
    border: 2px solid #ff3b00e0;
    padding: 8px 50px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-radius: 35px;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}

.comment-box img {
    border: 3px solid #ff3b00e0;
    box-shadow: 0px 3px 21px 0px rgba(67, 57, 169, 0.2);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.share-icon li:hover,
.share-icon li:focus {
    color: #ff3b00e0;
}

.tags-btn a:hover,
.tags-btn a:focus {
    background: #ff3b00e0;
}

.recent-post .post-right h5:hover,
.recent-post .post-right h5:focus {
    color: #ff3b00e0;
}

.gallery-filter-btn button:hover,
.gallery-filter-btn button:focus, .gallery-filter-btn button.active {
    border-color: #ff3b00e0;
}

.pagination li .page-link.active {
    background: #ff3b00e0;
}

.pagination li i:hover, 
.pagination li i:focus {
    background: #ff3b00e0;
}